.dotfiles/

.android/
.cache/
.chatgpt/
.chocolatey/
.cisco/
.config/jgit/
.config/github-copilot/
!.config/github-copilot/global-copilot-instructions.md
!.config/github-copilot/global-git-commit-instructions.md
.config/uv/
.copilot/
.dbus-keyrings/
.docker/
.gnupg/
.gradle/
!.gradle/init.d/
.jsweet.v3-node_modules/
.m2/
.matplotlib/
.metals/
.local/bin/
.ollama/
.openjfx/

.redhat/
.viminfo
.vscode/

Appdata/
Contacts/
Desktop/
Documents/
Downloads/
Dropbox/
Favorites/
Links/
Music/
My Drive/
OneDrive/
Pictures/
Saved Games/
sciebo/
Searches/
Videos/

*.hprof
.lesshst
.pdfbox.cache
.python_history
NTUSER.DAT*
ntuser.ini
